<% layout('layouts/boilerplate')%>

<h1>All Tea Stalls</h1>
<div>
  <a href="/chainagri/new">Add Tea Stall</a>
</div>
<ul>
  <% for (let chainagris of chainagri){%>
  <li>
    <a href="/chainagri/<%= chainagris._id %>"><%= chainagris.title %></a>
  </li>
  <% }%>
</ul>
