<% layout('layouts/boilerplate')%>
    <h1><%= chainagri.title %></h1>
    <h2><%= chainagri.location %></h2>
    <p> <a href="/chainagri/<%=chainagri._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/chainagri/<%=chainagri._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/chainagri">All Tea Stalls</a>
    </footer>
